header {
    display: flex;
    flex-direction: column;
    padding-top: 1.5em;
    margin-top: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #8f2d00;
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");

}

@media only screen and (max-width: 900px) {
    /* Write smartphone only styles here */
    header {   
        width: 40%;
        height: 100%;
      }
  }

img{
   size: initial;
}
div h2 {
    font-family: inherit;
}