
nav {
    width: 100%;
    overflow: hidden;
    background-color: #4056A1;
    color: #ffffff;
    font-family: "Bungee";
    padding: 1.5em;
    border-top: 20px;
    position: fixed;
    top: 0;
}

