.container {
    padding: 2em;
  }
  
.new-tweet {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.new-tweet .error { 
    background: #c51244 !important;
    padding: 10px !important;
    border-radius: 0 !important;
    position: relative; 
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;
  visibility: hidden;
}
.new-tweet > div {
    display: flex;
    align-items: center;
}
.new-tweet h2 {
    display: flex;
}
.new-tweet label {
    display: flex;
}
.new-tweet textarea {
    display: flex;
    border-bottom: inset;
}
div button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #4c5baf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}
.counter {
    display: flex;
    justify-content: flex-end;
    font-family: "bungee";
    
}
@media only screen and (max-width: 900px) {
    .new-tweet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .new-tweet .error { 
        background: #c51244 !important;
        padding: 10px !important;
        border-radius: 0 !important;
        position: relative; 
        display: inline-block !important;
        box-shadow: 1px 1px 1px #aaaaaa;
        margin-top: 5px;
      visibility: hidden;
    }
    .new-tweet > div {
        display: flex;
        align-items: center;
    }
    .new-tweet h2 {
        display: flex;
        height: 30%;
    }
    .new-tweet label {
        display: flex;
    }
    .new-tweet textarea {
        display: flex;
        border-bottom: inset;
    }
    div button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #4c5baf;
        border: none;
        color: white;
        padding: 7px 16px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
    
    }
    .counter {
        display: flex;
        justify-content: flex-end;
        font-family: "bungee";
        
    }
}