.posted-tweets {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.posted-tweets .tweet {
    border: 5px groove gray;
    padding: 10px;
    margin: 20px;
  font-size: 20px;
  width: 100%;
}
.posted-tweets .tweet .tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 5px solid darkblue;
}
.posted-tweets .tweet .tweet-header .headshot{
    display: flex;
    align-items: flex-start;
}
.posted-tweets .tweet .tweet-header .name{
    display: flex;

}
.posted-tweets .tweet  .tweet-header .link{
    display: flex;
    align-items: flex-end;
    visibility: hidden;
}

.posted-tweets .tweet  .tweet-content{
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
}
.posted-tweets .tweet  .tweet-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
.posted-tweets .tweet  .tweet-footer .post-date {
    display: flex;
    align-items: flex-start;
}
.posted-tweets .tweet  .tweet-footer .new-footer-span {
    display: flex;
    align-items: flex-end;
    border-bottom: 5px solid saddlebrown;
}